* {
	box-sizing: border-box;
}

* {
	transition: all .1s ease-in;
}

html {

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #FFF;
	background-color: #3399CC;
	border: 10px solid #2B81AC;
}
header{
	padding: 0 0 20px 0;
	text-align: left;
	margin: 0 auto;
}
body{

	margin: 0 auto;
	width: 80%;
	padding: 20px 0 20px 0;
	min-height: 100vh;

}
h1 {
	font-weight: bold;
	font-size: 24px;
}
.city {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	background-color: #FFF;
	padding: 2px;
	font-size: 0;
	/*text-align: justify;*/
	width: 100%;
	/* width: 25%; */
	/* text-align: justify; */
	/* height: 70%; */

}

.city li {
	display: inline-block;
	vertical-align: top;
	/* background-color: #666699; */
	font-size: 24px;
	border: 2px solid #FFF;
	text-align: center;
	width: 25%;
}

.city li.lisbon {
	width: 50%;
	background-color: #3399CC;

}

.city li.paris {
	width: 25%;
	background-color: #33CCCC;
}

.city li.belgrade {
	width: 25%;
	background-color: #996699;
}

.city li.moscow {
	background-color: #C24747;
	width: 25%;
}

.city li.kyiv {
	background-color: #E2674A;
	width: 25%;
}

.city li.cairo {
	background-color: #FFCC66;
	width: 25%;
}

.city li.ny {
	background-color: #99CC99;
	width: 25%;
}

.city li.nd {
	background-color: #669999;
	width: 25%;
}

.city li.sf {
	background-color: #CC6699;
	width: 50%;
}

.city li.tokyo {
	background-color: #339966;
	width: 25%;
}

.city li.sydney {
	background-color: #666699;
	width: 100%;
}

.city li {
	display: inline-block;
	padding: 50px 0 50px 0;
	color: #FFF;
	width: 100%;
}

span:after{
	content: '\b0 C';
}
footer {
	padding-top: 20px;
}

.city:hover li:hover {

		opacity: 1;
	}
.city:hover li {
	/* background-color: #FFF; */
	opacity: 0.7;
}


/*  ul:hover li {
 	opacity: .7;
 }

 ul:hover li:hover {
 	opacity: 1;
 } */


